[submodule "catkin_ws/src/gazebo_cave_world"]
	path = catkin_ws/src/gazebo_cave_world
	url = https://github.com/LTU-RAI/gazebo_cave_world.git
[submodule "a1_ws/src/LIO-SAM"]
	path = a1_ws/src/LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
[submodule "a1_ws/src/champ"]
	path = a1_ws/src/champ
	url = https://github.com/chvmp/champ.git
[submodule "a1_ws/src/champ_robots"]
	path = a1_ws/src/champ_robots
	url = https://github.com/chvmp/robots.git
[submodule "a1_ws/src/champ_teleop"]
	path = a1_ws/src/champ_teleop
	url = https://github.com/chvmp/champ_teleop.git
[submodule "a1_ws/src/unitree_ros"]
	path = a1_ws/src/unitree_ros
	url = https://github.com/chvmp/unitree_ros.git
[submodule "a1_ws/src/yocs_velocity_smoother"]
	path = a1_ws/src/yocs_velocity_smoother
	url = https://github.com/chvmp/yocs_velocity_smoother.git
